
    
    
#myRootContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /*border: solid 4px green;*/
    /*background-color: rgb(236, 238, 149);*/
    background-image: url("../../public/background.jpg");
    margin: 0;

}